@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans';
    font-size: 16px;
    overflow-x: hidden;
}

.login-btn, .next-btn, .subscribe-btn{
    background-color: #EC7125;
}

.next-btn{
    margin-left: 14.3rem;
}

.grey{
    color: #AFAFAF;
}

.purple{
    color: #291040;
}

.horizontal-rule{
    margin-top: 4rem;
}

.submit-btn{
    border: 1px;
    margin-left: 15rem;
    margin-top: 0.8rem;
}



/* Laptops and small desktops */
@media screen and (min-width: 1024px) {
   .form-one, .form-two{
    max-width: 30%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15rem;
  } 

  .horizontal-rule{
    margin-top: -6rem;
  }

  .email-p{
    margin-top: 14px;
  }
  .next-btn{
    margin-left: 22rem;
  }

  .submit-btn{
    margin-left: 23rem;
  }
  
}